.more-screen .icon-row{
    margin-top: 40px;
}
.more-screen .icon-row__icon{
    margin:5px 0 40px;
}

.more-suggestions{
    border-top: var(--main-border);
    margin-top: 110px;
    padding-top: 30px;
}
.more-suggestions__title{
    font-weight: 500;
    margin-bottom: 25px;
}
.more-suggestions__icons{
    display: flex;
    align-items: center  ;
}
.more-suggestions__icon{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more-suggestions__icon-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    background-color: var(--yellow);
}
.more-suggestions__icon span{
    margin-top: 10px;
    font-size: 12px;
    color: #7F7F7F;
}